@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');
@import "tailwindcss";

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  background-color: #f3f4f6;
  font-family: var(--font-sans);
}

.font-sans {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}

.card-component {
  transition: transform 0.5s ease-in-out;
}

.card-component:hover {
  transform: scale(1.03);
}

.reading-box {
  max-height: 400px;
  overflow-y: auto;
}