@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.font-sans {
  font-family: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.card-component {
  transition: transform 0.5s ease-in-out;
}

.card-component:hover {
  transform: scale(1.03);
}

.reading-box {
  max-height: 400px;
  overflow-y: auto;
}